<!DOCTYPE html>
<html>
  <head>
    <title>Jamaica</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div id="flex-content-container">
    <nav class="navbar navbar-toggleable-lg navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
           <li class="navbar-brand, nav-link">
            <%= link_to 'Home', root_path %>
          </li>

          <li class="nav-item, nav-link">
            <%= link_to 'Resort', resort_path %>
          </li>
          <li class="nav-item, nav-link">
            <%= link_to 'Price', price_path %>
          </li>
          <li class="nav-item, nav-link">
            <%= link_to 'Contact', contact_path %>
          </li>
          <br />
        </ul>
      </div>
    </nav>

    <%= yield %>
  </div>
  
</html>
